
/* line 133 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */

/* line 1 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 286 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 13 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/index.styl */

/* line 13 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/index.styl */

/* line 1 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/border.styl */

/* line 10 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/border.styl */

/* line 1 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/clearfix.styl */

/* line 28 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/clearfix.styl */

/* line 1 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/color-image.styl */

/* line 4 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/color-image.styl */

/* line 1 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/flex.styl */

/* line 196 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/flex.styl */

/* line 90 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/gradients.styl */

/* line 90 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/gradients.styl */

/* line 1 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/config.styl */

/* line 11 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/iconic.styl */

/* line 7 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/iconic.styl */

/* line 1 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/image.styl */

/* line 25 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/image.styl */

/* line 1 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/overflow.styl */

/* line 20 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/positions.styl */

/* line 66 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/reset.styl */

/* line 78 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/text/index.styl */

/* line 5 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/text/index.styl */

/* line 1 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/text/aliases.styl */

/* line 12 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/text/aliases.styl */

/* line 1 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 9 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 1 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 8 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 1 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 9 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 1 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 2 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 541 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/vendor.styl */

/* line 11 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/vendor.styl */

/* line 1 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/config.styl */

/* line 577 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/size.styl */

/* line 4 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/reset.styl */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 14 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/reset.styl */
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 16 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/reset.styl */
ol,
ul {
  list-style: none;
}

/* line 18 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/reset.styl */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 20 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/reset.styl */
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/node_modules/nib/lib/nib/reset.styl */
a img {
  border: none;
}

/* line 8 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */
a {
  text-decoration: none;
}

/* line 14 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */
button {
  z-index: 1;
  position: relative;
  padding: 15px;
  margin-top: 15px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  background: none;
  border: 1px solid #fff;
  -webkit-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}

/* line 36 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */
button:after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  transition: transform 0.3s;
}

/* line 53 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */
button:hover {
  color: #09f;
}

/* line 56 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */
button:hover:after {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

/* line 59 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */
h1 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 65 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */
html {
  font-family: 'Roboto', sans-serif;
}

/* line 68 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */
html,
body {
  width: 100%;
  height: 100%;
}

/* line 73 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */
body {
  color: #fff;
  background: #09f;
}

/* line 78 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */
.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

/* line 84 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */
nav {
  width: 100%;
}

/* line 87 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */
nav a {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 6px;
  color: #fff;
  text-align: center;
}

/* line 99 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */
nav a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  -o-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  transition: transform 0.3s;
}

/* line 115 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */

/* line 116 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */
nav a:hover:after {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

/* line 119 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */
#app {
  position: relative;
}

/* line 122 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */
.page {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20px;
}

/* line 127 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */
span {
  display: inline-block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

/* line 132 : /Users/alex/Work/Vue/vue-page/dev/examples/browserify/app/styles/main.styl */
p {
  margin: 30px 20px;
}
